a {
    text-decoration: none;
    color: rgb(174, 174, 174);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* Universal padding for page left and right page edges. */
.header, .info-panel, .pics-panel, .quote-panel, .sign-up-panel {
    padding: 16px 15% 72px 15%;
}

.top-panel {
    background-color: rgb(43, 47, 59);
    }

.logo {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {    
    list-style-type: none;
    padding-left: 0;
    margin:0;
    display: flex;
    gap: 16px;
}

.info-panel {
    color:white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    justify-self: center;   
}

.left {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#info-image {
    max-width: 400px;
    flex-grow: 1;
}

#top-button, #bottom-button {
    background-color: rgb(69, 105, 214);
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    padding: 8px 16px;
    flex-shrink: 1;
    width: 150px;
}

.pics-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
}

.pic-heading {
    display: flex;
    align-items: center;
    padding: 0%;
    height: 100px;
    font-size: 24px;
    font-weight: 900;
}

.deck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.card p {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
       
}

.card img {
    width: 150px;
    border-radius: 8px;
    border: 2px solid rgb(43, 47, 59);
}

.quote-panel {
    padding: 0% 20%;
    background-color: rgb(205, 204, 204);
}

.quote {
    font-size: 28px;
    font-style: italic;
}

.quote-panel h3 {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.sign-up-panel {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 72px 15%;
}

.sign-up-left {
    min-width: 200px;
    max-width: 400px;
}

.sign-up-card {
    background-color: rgb(69, 105, 214);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 32px 10%;
    border-radius: 8px;
    color: white;
    gap: 16px;
}


.bold {
    font-size: 24px;
    font-weight: 900s;
}

.not-bold {
    font-size: 18px;
    font-weight: 100;
}

.footer {
    background-color: rgb(43, 47, 59);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
}