a {
    text-decoration: none;
    color: rgb(174, 174, 174);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Universal padding for page left and right page edges. */
.header, .info-panel, .pics-panel, .quote-panel, .sign-up-panel, .footer {
    padding: 16px 15% 48px 15%;
}

.top-panel {
    background-color: rgb(43, 47, 59);
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {    
    list-style-type: none;
    padding-left: 0;
    margin:0;
    display: flex;
    gap: 16px;
}

.info-panel {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#info-image {
    display: flex;
    min-width: 200px;
    max-height: 150px;
}
#top-button, #bottom-button {
    background-color: rgb(69, 105, 214);
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    padding: 8px 16px;
}